*.so
*.pinfo
*.o
*.lo
*.a
*.gcno
*.gcov
*.gcda
.deps/
.libs/
autom4te.cache/
m4/
Makefile.in
config.log
configure
config.status
config.h.in
aclocal.m4
libtool
stamp-h1
qrencode
qrencode.1
qrencode.spec
libqrencode.pc
use/compile
use/config.guess
use/config.sub
use/depcomp
use/install-sh
use/ltmain.sh
use/missing
stage/
